body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444444;
    font-family: Arial, Helvetica, sans-serif;
}

#voltage_container {

    height: 80vh;
    width: 50vw;
    max-width: 400px;
    border: 3px solid DimGrey;
    padding: 2px;
    display: flex;
    flex-direction: column-reverse;
}

#voltage_indicator {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    overflow:hidden;
    transition: height 1s;
    background-color: #4286f4;
}
